@import "tailwindcss";

@theme {
  --color-background: #0A0A0A;
  --color-surface: #1A1A1A;
  --color-primary: #E8372A;
  --color-textPrimary: #F0F0F0;
  --color-textSecondary: #A0A0A0;
}

body {
  background-color: var(--color-background);
  color: var(--color-textPrimary);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
